html{
    font-size: 25px;
}
body
{
    background-color:antiquewhite;
    color: rgb(19, 13, 5);
}
h4{
    color: blueviolet;
    font-size: 30px;
}
p{
    color: rgb(0, 226, 143);
}
a{
    color: aliceblue ;
}
a:visited{
    color: red;
}
a:hover,a:active{
    color: #eee;
}