html{
    font-size: 25px;
}
body
{
    background-color:wheat;
    color: rgb(19, 13, 5);
}


h4{
    color: blueviolet;
    font-size: 25px;
    text-transform: uppercase;
}

p{
    color: rgb(0, 226, 143);
}

a{
    color:wheat
}

a:hover,a:active{
    color:rgb(255, 162, 0);
}

.listcolor{
    color: white; 
}

.cursive{
    font-family: cursive;
}

#groupie{
    margin-left: 275px;
}

#navbar{
    background-color: rgba(255, 166, 0, 0.509);
    border-width: 0px 2px 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(0, 157, 255, 0.902);
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 150px;
}

#logobar{
    background-color: rgb(255, 145, 0);
    border-width: 2px 2px 0px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(179, 202, 217, 0.902);
}

#suplimentry-sights{
    color: black;
}

.widget{
    border-top: 4px solid black ;
    display: inline-block;
}

.widget input {
    display: block;
    background-color: #F7F7F7;
    margin-bottom: 15px;
    padding: 4px;
    color: black;
    font-size: 0.5rem;
}

/* this will choose all button with value button */
button[type="submit"]{
    font-size: 0.7rem;
    background-color: black;
    color: white;
    padding: 5px ;
}

.widget-title{
    color: black;
    font-size: 0.7;
}

/* MAIN SECTION */
main{
    width: 70%;
    display: inline-block;
}

/* ASIDE SECTION */
aside{
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 50px;
}
