html{
    font-size: 25px;
}

body
{
    background-color:rgb(0, 44, 73);
    color: rgb(19, 13, 5);
}

ol{
    color: blueviolet;
}

h4{
    color: blueviolet;
    font-size: 25px;
    text-transform: uppercase;
}

p{
    color: rgb(0, 226, 143);
}

a{
    color:wheat
}

a:hover,a:active{
    color:rgb(255, 162, 0);
}

.listcolor{
    color: white; 
}

.cursive{
    font-family: cursive;
}

#groupie{
    margin-left: 275px;
}

#navbar{
    background-color: rgba(255, 166, 0, 0.509);
    border-width: 0px 2px 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(0, 157, 255, 0.902);
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 150px;
}

#logobar{
    background-color: rgb(255, 145, 0);
    border-width: 2px 2px 0px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(179, 202, 217, 0.902);
}